@use '~@/themes/default/style/globals';

.EstimatesInvoicesGlobalSettings {
    &__form {
        margin-bottom: 64px;

        .FormField {
            --label-width: 200px;
        }
    }

    &__display-options {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: globals.$spacing-medium;
        gap: globals.$spacing-medium;

        &__fieldset {
            flex: 1;
            min-width: 400px;
            margin: 0 !important;
        }
    }

    &__actions {
        position: fixed;
        left: 0;
        bottom: 0;
        right: 0;
        padding: globals.$spacing-medium globals.$spacing-small;
        background-color: globals.$bg-color-body;
        text-align: center;
    }

    //
    // - Responsive
    //

    @media (min-width: globals.$screen-desktop) {
        &__actions {
            left: 515px;
        }
    }
}
