@use '~@/themes/default/style/globals';

.GlobalSettings {
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 100%;
    gap: globals.$spacing-medium globals.$spacing-large;

    &__sidebar {
        flex: 0 0 auto;
        width: 100%;
    }

    &__body {
        width: 100%;
    }

    //
    // - Responsive
    //

    @media (min-width: globals.$screen-desktop) {
        flex-direction: row;
        overflow: hidden;

        &__sidebar {
            overflow: auto;
            width: 300px;
            height: 100%;
        }

        &__body {
            overflow: auto;
            height: 100%;
        }
    }
}
