@use '~@/themes/default/style/globals';
@use 'sass:color';
@use 'sass:map';

/// Marge entre les éléments internes du bouton (texte, icône(s)).
/// @type Number
$internal-spacing: globals.$spacing-thin !default;

/// Largeur de la bordure des boutons.
/// @type Number
$border-width: 2px !default;

/// Border radius des boutons.
/// @type Number
$border-radius: globals.$border-radius-normal !default;

//
// - Tailles
//

$default-size: (
    min-height: 34px,
    padding: 7px 10px,
    font-size: 1.05rem,
) !default;

$small-size: (
    min-height: 26px,
    padding: 0.35rem 0.45rem,
    font-size: 0.96rem,
) !default;

$large-size: (
    min-height: 37px,
    padding: 0.56rem 1.35rem,
    font-size: 1.2rem,
) !default;

$full-width-size: (
    min-height: 46px,
    padding: 0.9rem 2rem,
    font-size: 1.2rem,
) !default;

//
// - Default variant
//

// stylelint-disable-next-line @stylistic/value-list-max-empty-lines
$default-variant: (
    color: globals.$color-base-button,
    background: rgb(255 255 255 / 6%),
    border-color: transparent,

    // - Focused
    focused-color: globals.$color-hover-button,
    focused-background: rgb(255 255 255 / 15%),
    focused-border-color: transparent,

    // - Active
    active-color: color.adjust(globals.$color-base-button, $lightness: -8%),
    active-background: rgb(255 255 255 / 3%),
    active-border-color: transparent,
) !default;

//
// - Primary variant
//

// stylelint-disable-next-line @stylistic/value-list-max-empty-lines
$primary-variant: (
    color: #fff,
    background: globals.$primary-color,
    border-color: globals.$primary-color,

    // - Focused
    focused-color: #fff,
    focused-background: color.adjust(globals.$primary-color, $lightness: 5.5%),
    focused-border-color: color.adjust(globals.$primary-color, $lightness: 5.5%),

    // - Active
    active-color: #fff,
    active-background: color.adjust(globals.$primary-color, $lightness: -4.5%),
    active-border-color: color.adjust(globals.$primary-color, $lightness: -4.5%),
) !default;

//
// - Secondary variant
//

// stylelint-disable-next-line @stylistic/value-list-max-empty-lines
$secondary-variant: (
    color: color.adjust(globals.$primary-color, $saturation: -30%, $lightness: 60%),
    background: color.adjust(globals.$primary-color, $alpha: -0.7),
    border-color: transparent,

    // - Focused
    focused-color: color.adjust(globals.$primary-color, $saturation: -30%, $lightness: 65%),
    focused-background: color.adjust(globals.$primary-color, $alpha: -0.7, $lightness: 10%),
    focused-border-color: transparent,

    // - Active
    active-color: color.adjust(globals.$primary-color, $saturation: -30%, $lightness: 55%),
    active-background: color.adjust(globals.$primary-color, $alpha: -0.7, $lightness: -6%),
    active-border-color: transparent,
) !default;

//
// - Transparent variant
//

// stylelint-disable-next-line @stylistic/value-list-max-empty-lines
$transparent-variant: (
    color: globals.$color-base-button,
    background: transparent,
    border-color: transparent,

    // - Focused
    focused-color: globals.$color-hover-button,
    focused-background: rgb(255 255 255 / 6%),
    focused-border-color: transparent,

    // - Active
    active-color: globals.$color-hover-button,
    active-background: transparent,
    active-border-color: transparent,
) !default;

//
// - Success variant
//

// stylelint-disable-next-line @stylistic/value-list-max-empty-lines
$success-variant: (
    color: #fff,
    background: globals.$interactive-element-success-background-color,
    border-color: globals.$interactive-element-success-background-color,

    // - Focused
    focused-color: #fff,
    focused-background: color.adjust(globals.$interactive-element-success-background-color, $lightness: 5%),
    focused-border-color: color.adjust(globals.$interactive-element-success-background-color, $lightness: 5%),

    // - Active
    active-color: #fff,
    active-background: color.adjust(globals.$interactive-element-success-background-color, $lightness: -5%),
    active-border-color: color.adjust(globals.$interactive-element-success-background-color, $lightness: -5%),
) !default;

//
// - Warning variant
//

// stylelint-disable-next-line @stylistic/value-list-max-empty-lines
$warning-variant: (
    color: #fff,
    background: globals.$interactive-element-warning-background-color,
    border-color: globals.$interactive-element-warning-background-color,

    // - Focused
    focused-color: #fff,
    focused-background: color.adjust(globals.$interactive-element-warning-background-color, $lightness: 8%),
    focused-border-color: color.adjust(globals.$interactive-element-warning-background-color, $lightness: 8%),

    // - Active
    active-color: #fff,
    active-background: color.adjust(globals.$interactive-element-warning-background-color, $lightness: 8%),
    active-border-color: color.adjust(globals.$interactive-element-warning-background-color, $lightness: 8%),
) !default;

//
// - Danger variant
//

// stylelint-disable-next-line @stylistic/value-list-max-empty-lines
$danger-variant: (
    color: #fff,
    background: globals.$interactive-element-danger-background-color,
    border-color: globals.$interactive-element-danger-background-color,

    // - Focused
    focused-color: #fff,
    focused-background: color.adjust(globals.$interactive-element-danger-background-color, $lightness: 8%),
    focused-border-color: color.adjust(globals.$interactive-element-danger-background-color, $lightness: 8%),

    // - Active
    active-color: #fff,
    active-background: color.adjust(globals.$interactive-element-danger-background-color, $lightness: -8%),
    active-border-color: color.adjust(globals.$interactive-element-danger-background-color, $lightness: -8%),
) !default;
