@use '~@/themes/default/style/globals';

.BeneficiaryViewBorrowings {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;

    &__listing {
        @extend %reset-list;

        flex: 2;
        overflow: auto;
        margin: 0 0 globals.$spacing-medium;
    }

    &__timeline {
        flex: 1;
        display: flex;
        overflow: auto;

        &__element {
            flex: 1;
        }
    }
}
