@use '~@/themes/default/style/globals';

.ParkEditForm {
    &__address {
        margin-bottom: globals.$spacing-medium;

        &__group {
            display: flex;
            gap: 10px;

            & + & {
                margin-top: globals.$spacing-medium;
            }
        }

        &__part {
            flex: 1;
            margin: 0 !important;

            &--administrative-area {
                max-width: 250px;
            }

            &--postal-code {
                max-width: 140px;
            }
        }
    }
}
