@use '~@/themes/default/style/globals';

.EventEditStepOverview {
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 100%;
    gap: globals.$spacing-medium;

    &__wrapper {
        flex: 1;
        overflow: auto;
        height: 100%;
        padding: 0 globals.$spacing-large;
    }

    &__content {
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;
    }

    &__confirmation {
        margin-top: globals.$spacing-large;
        padding: globals.$spacing-large;
        border-radius: globals.$border-radius-normal;
        background: globals.$bg-color-emphasis-light;

        &__title {
            margin: 0 0 globals.$spacing-small;
            color: globals.$text-base-color;
            font-size: 1.4rem;
            font-weight: 600;
        }

        &__help {
            margin-bottom: globals.$spacing-medium;
            color: globals.$text-warning-color;
            font-size: 1.1rem;

            &--confirmed {
                color: globals.$text-success-color;
            }
        }
    }

    &__actions {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 100%;
        padding: globals.$spacing-small 0;
        gap: globals.$spacing-small;

        &__right {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
            gap: globals.$spacing-small;
        }
    }
}
