@use '~@/themes/default/style/globals';

.CalendarGlobalSettings {
    &__form {
        margin-bottom: 64px;

        .FormField {
            --label-width: 250px;
        }
    }

    &__public-calendar-url {
        &__help {
            line-height: 1.65;

            .Button {
                margin-left: 0.45rem;
                padding: 0.35rem 0.6rem;
            }

            &--success {
                color: globals.$text-success-color;
            }
        }
    }

    &__actions {
        position: fixed;
        left: 500px;
        bottom: 0;
        right: 0;
        padding: globals.$spacing-medium globals.$spacing-small;
        background-color: globals.$bg-color-body;
        text-align: center;
    }
}
