@use '~@/themes/default/style/globals';

.EventDetailsInfos {
    display: flex;
    flex-direction: column;

    &__summary {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        margin-bottom: globals.$spacing-large;
        font-size: 1.1rem;
        gap: globals.$spacing-small;

        &__beneficiaries,
        &__details {
            flex: 0 1 auto;
        }

        &__beneficiaries {
            &__names {
                @extend %reset-list;

                margin-bottom: globals.$spacing-small;
                font-size: 1.2rem;
                line-height: 1.3;

                @include globals.icon('address-book') {
                    width: 15px;
                    margin: 2px globals.$spacing-small 20px 0;
                    float: left;
                }

                &__label {
                    margin-right: globals.$spacing-small;
                }

                &__item {
                    display: inline;

                    &__color {
                        display: inline-block;
                        width: 0.8em;
                        height: 0.8em;
                        margin-right: globals.$spacing-thin;
                        border-radius: globals.$border-radius-normal;
                        background-color: var(--color);
                        vertical-align: -1px;
                    }

                    & + &::before {
                        content: ', ';
                    }
                }
            }
        }

        &__main-beneficiary {
            display: flex;
            flex-direction: column;
            margin-left: calc(15px + globals.$spacing-small);
            font-size: 1.1rem;
            gap: globals.$spacing-thin;

            &__address,
            &__phone,
            &__email {
                margin: 0;
            }

            &__address {
                white-space: pre-line;
            }
        }

        &__details {
            display: flex;
            flex-direction: column;
            gap: globals.$spacing-small;

            &__item {
                display: inline-flex;
                align-items: baseline;
                max-width: 350px;
                margin: 0;

                &::before {
                    flex: none;
                    width: 30px;
                    text-align: center;
                }

                //
                // - Variantes
                //

                &--location {
                    @include globals.icon('map-marker-alt');
                }

                &--date {
                    @include globals.icon('calendar');
                }

                &--author {
                    @include globals.icon('user');
                }

                &--manager {
                    @include globals.icon('user-tie');
                }

                &--mobilization-period {
                    @include globals.icon('clock');
                }

                &--technicians {
                    @include globals.icon('people-carry');
                }

                &--ongoing-overdue {
                    @include globals.icon('hourglass', 'regular');

                    color: globals.$text-danger-color;
                }

                &--past-overdue {
                    @include globals.icon('hourglass', 'regular');
                }
            }
        }

        &__technician-label {
            margin-right: globals.$spacing-small;
        }

        &__technicians {
            @extend %reset-list;
            display: inline;

            &__item {
                display: inline;

                & + &::before {
                    content: '\00a0| ';
                }
            }
        }
    }

    &__overdue,
    &__no-material,
    &__summary__no-beneficiary {
        color: globals.$text-danger-color;
        font-size: 1.2rem;
        text-align: center;

        @include globals.icon('exclamation-triangle') {
            width: 30px;
        }
    }

    &__overdue,
    &__description,
    &__confirmation {
        margin-bottom: globals.$spacing-large;
        font-size: 1.2rem;
    }

    &__description {
        margin-top: 0;
        color: globals.$text-soft-color;
        line-height: 1.5;
        white-space: pre-wrap;

        @include globals.icon('clipboard') {
            width: 30px;
        }
    }

    &__overdue {
        white-space: pre-line;
    }

    &__confirmation {
        color: globals.$text-warning-color;
        text-align: center;

        @include globals.icon('hourglass-half') {
            width: 30px;
        }

        &--confirmed {
            color: globals.$text-success-color;

            @include globals.icon('check') {
                width: 30px;
            }
        }
    }
}
