@use '~@/themes/default/style/globals';

.Textarea {
    display: block;

    //
    // - Invalide
    //

    &--invalid {
        &:not(:focus) {
            border-color: globals.$input-error-border-color;
            background-color: globals.$input-error-background-color;
            color: globals.$input-error-text-color;
        }
    }
}
