@use '~@/themes/default/style/globals';
@use 'sass:math';
@use 'sass:color';

.TechniciansListing {
    $block: &;

    display: flex;
    flex-direction: column;
    height: 100%;
    gap: globals.$spacing-medium;

    &__table {
        flex: 1;

        &__cell {
            &__empty {
                color: globals.$text-light-color;
                font-style: italic;
            }

            &--nickname,
            &--email,
            &--schedule-access,
            &--address,
            &--roles,
            &--note {
                display: none;
            }

            &--phone {
                white-space: nowrap;
            }

            &--address {
                white-space: pre-line;
            }

            &--roles {
                max-width: 250px;
            }

            &--note {
                max-width: 200px;
                white-space: pre-line;
            }

            //
            // - Responsive
            //

            @media (min-width: globals.$screen-tablet) {
                &--email {
                    display: table-cell;
                }
            }

            @media (min-width: globals.$screen-desktop) {
                &--nickname,
                &--is-preparer,
                &--schedule-access {
                    display: table-cell;
                }
            }

            @media (min-width: globals.$screen-big-desktop) {
                &--address,
                &--roles,
                &--note {
                    display: table-cell;
                }
            }
        }
    }

    &__roles {
        @extend %reset-list;

        display: flex;
        flex-wrap: wrap;
        gap: 0.2rem;

        &__item {
            overflow: hidden;
            max-width: 200px;
            padding: 0.3rem 1rem;
            border-radius: 15px;
            background: globals.$bg-color-emphasis;
            text-overflow: ellipsis;
            white-space: nowrap;

            @include globals.icon('tools') {
                margin-right: globals.$spacing-thin;
            }
        }
    }
}
