@use '~@/themes/default/style/globals';

.ScheduleCalendarHeader {
    display: flex;
    flex-direction: column;
    gap: globals.$spacing-small;

    &__main {
        display: none;
        align-items: stretch;
        gap: globals.$spacing-small;

        &__center-date {
            width: 180px !important;
        }
    }

    //
    // - Responsive
    //

    @media (min-width: globals.$screen-mobile) {
        &__main {
            display: flex;
        }
    }

    @media (width >= 1200px) {
        &__main {
            flex-direction: row;
        }
    }
}
