@use '~@/themes/default/style/globals';
@use 'sass:color';

.MaterialsSortedCategoryItem {
    &__col {
        padding: 5px;
        border-bottom: 1px dashed globals.$list-left-border-color;
        vertical-align: middle;

        &--label {
            max-width: 0;
            padding-left: 0;
        }

        &--price {
            width: 85px;
            min-width: 85px;
            color: globals.$text-light-color;
            text-align: right;
        }

        &--quantity {
            width: 60px;
            min-width: 60px;
        }

        &--discount {
            width: 60px;
            min-width: 60px;
            text-align: center;
        }

        &--total {
            width: 85px;
            min-width: 85px;
            padding-right: 0;
            text-align: right;
        }
    }

    &__label {
        &__name {
            display: block;
            overflow: hidden;
            max-width: 590px;
            margin-bottom: 3px;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        &__ref {
            display: inline-block;
            overflow: hidden;
            max-width: 220px;
            color: globals.$text-light-color;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }

    &__quantity {
        &__icon {
            margin-right: 10px;
            color: globals.$text-light-color;
            font-size: 0.8rem;
        }
    }

    //
    // - Responsive.
    //

    @container (max-width: 500px) {
        &__col {
            padding: 5px 3px;

            &--total {
                width: 70px;
                min-width: 70px;
            }

            &--quantity {
                width: 45px;
                min-width: 45px;
                text-align: center;
            }

            &--price,
            &--discount {
                display: none;
            }
        }

        &__label {
            &__name,
            &__ref {
                max-width: 100%;
            }

            &__units {
                display: block;
                max-width: none;
                margin-left: 0;
                white-space: normal;

                &::before {
                    content: none;
                }
            }
        }
    }
}
