@use '~@/themes/default/style/globals';

.InterfaceUserSettings {
    display: flex;
    flex-direction: column;
    padding: 0 globals.$spacing-small;

    &__loading {
        margin-top: globals.$spacing-medium;
    }

    &__language {
        --input-width: 180px;
    }

    &__default-views {
        display: flex;
        flex-direction: column;
        gap: globals.$spacing-medium;

        &__item {
            flex: 1;
            margin-top: 0 !important;
        }
    }

    &__actions {
        margin-top: globals.$spacing-large;
        text-align: center;
    }

    //
    // - Responsive
    //

    @media (min-width: globals.$screen-tablet) {
        &__default-views {
            flex-direction: row;
            gap: globals.$spacing-medium;

            &__item {
                max-width: 50%;
            }
        }
    }
}
