parameters:
    level: 2
    tmpDir: ./src/var/tmp/phpstan

    paths:
        - ./src
        - ./tests

    excludePaths:
        - ./data
        - ./src/var/*

    bootstrapFiles:
        - ./src/App/Config/constants.php

    ignoreErrors:
        - '#Access to an undefined property Illuminate\\Database\\Eloquent\\Builder\|Illuminate\\Database\\Eloquent\\Model::\$.+#'
        - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Builder\|Illuminate\\Database\\Eloquent\\Model::.+\(\)#'
        - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Builder::.+\(\)\.#'
        - '#Cannot call method .+\(\) on array<Illuminate\\Database\\Eloquent\\Builder>\|Illuminate\\Database\\Eloquent\\Builder\|Illuminate\\Database\\Eloquent\\Collection\|Illuminate\\Database\\Eloquent\\Model\.#'
        - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Relations\\(HasMany|BelongsToMany|MorphToMany|MorphMany|BelongsTo)::.+\(\)\.#'
        - '#Call to an undefined method Illuminate\\Support\\HigherOrderCollectionProxy::.+\(\)\.#'
        - '#Access to an undefined property Illuminate\\Database\\Eloquent\\Model::\$.+#'
        - '#Call to an undefined method Illuminate\\Database\\Query\\Builder::.+\(\)\.#'
        - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Model::.+#'
        - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Relations\\.+::.+\(\)\.#'

        # - À supprimer lorsque la classe Builder sera générique (illuminate/database v11.15)
        #   Voir https://github.com/laravel/framework/commit/4529498671704a2ea4bae4af1e3f8ee48ca8dfd0
        - '#PHPDoc tag @var with type Illuminate\\Database\\Eloquent\\Builder|Loxya\\Models\\.+ is not subtype of native type Illuminate\\Database\\Eloquent\\Builder#'
