@use '~@/themes/default/style/globals';
@use 'sass:math';

.BeneficiaryViewBilling {
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 100%;
    row-gap: globals.$spacing-small;

    //
    // - État: Erreur
    //

    &--error {
        justify-content: center;
    }

    //
    // - Responsive
    //

    @media screen and (min-width: globals.$screen-big-desktop) {
        flex-direction: row;

        &__invoices,
        &__estimates {
            flex: 1;
            overflow: auto;
            width: 50%;
            height: 100%;
            max-width: none;
        }

        &__invoices {
            padding-right: globals.$spacing-large;
            border-right: 1px solid globals.$divider-color;
        }

        &__estimates {
            padding-left: globals.$spacing-large;
        }

        //
        // - État: Erreur
        //

        &--error {
            align-items: center;
            height: 100%;
        }
    }
}
