@use './variables' as *;
@use '~@/themes/default/style/globals';
@use 'sass:map';

.Link {
    //
    // - Règles
    //

    @extend %reset-button;
    @extend %reset-link;

    display: inline-flex;
    align-items: baseline;
    color: var(--color);
    touch-action: auto;
    cursor: pointer;
    gap: $internal-spacing;
    transition: color 200ms ease;

    &:hover {
        color: var(--hover-color);
    }

    //
    // - Variantes
    //

    // stylelint-disable-next-line scss/dollar-variable-first-in-block, order/order
    $variants: (
        default: $default-variant,
        primary: $primary-variant,
    );

    @each $name, $variant in $variants {
        $--modifier: if($name == 'default', null, --#{$name});

        &#{$--modifier} {
            --color: #{map.get($variant, color)};
            --hover-color: #{map.get($variant, hover-color)};
        }
    }
}
