<?php
declare(strict_types=1);
$namespaceDefinition
use $useClassName;

final class $className extends $baseClassName
{
    public function up(): void
    {
        $table = $this->table('', ['signed' => true]);
        $table
            ->addColumn('')
            ->addTimestamps()
            ->create();
    }

    public function down(): void
    {
        $this->table('')->drop()->save();
    }
}
