@use '~@/themes/default/style/globals';

.GlobalSettingsSubPage {
    $block: &;

    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 100%;
    gap: globals.$spacing-large;

    &__header {
        display: flex;
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;
        padding: 0 5px globals.$spacing-medium;
        border-bottom: 1px solid globals.$divider-color;
        gap: globals.$spacing-small;

        &__main {
            flex: 1;
        }

        &__actions {
            flex-shrink: 0;
            display: flex;
            align-items: center;
            gap: globals.$spacing-small;
        }

        &__title {
            margin: 0;
            color: globals.$text-base-color;
            font-size: 1.5rem;
        }

        &__sub-title {
            display: block;
            color: globals.$text-soft-color;
            font-size: 0.95rem;
            text-wrap: balance;
        }
    }

    &__body {
        flex: 1;
        display: flex;
        flex-direction: column;
        overflow: auto;
        width: 100%;
        height: 100%;

        &__error {
            flex: 0;
            margin: 0 0 globals.$spacing-medium;
            color: globals.$text-danger-color;
            font-weight: 600;
            text-align: center;
        }

        &__content {
            flex: 1;
            width: 100%;
            max-width: 1000px;
            margin: 0 auto;
            padding: 0 globals.$spacing-small;
        }
    }

    //
    // - Modifiers
    //

    &--centered {
        #{$block}__body__content {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }

    //
    // - Responsive
    //

    @media (min-width: globals.$screen-tablet) {
        &__header {
            padding: 0 0 globals.$spacing-medium;

            &__title {
                font-size: 1.8rem;
            }

            &__sub-title {
                font-size: 1rem;
            }
        }
    }
}
