@use '~@/themes/default/style/globals';

.Totals {
    display: flex;
    align-items: flex-end;

    &__infos {
        flex: 1;
        display: flex;
        flex-direction: column;
        line-height: 1.15;
        gap: globals.$spacing-thin;

        &__item {
            font-size: 1.2rem;
            font-weight: 400;
            font-style: italic;
        }
    }

    &__billing {
        display: grid;
        grid-template-columns: max-content 1fr;
        gap: 5px;

        &__line {
            $line: &;

            display: contents;
            font-size: 1.1rem;

            &__title {
                text-align: right;
            }

            &__price {
                padding-left: 20px;
                text-align: right;
            }

            &--grand-total {
                #{$line}__title,
                #{$line}__price {
                    font-size: 1.2rem;
                    font-weight: 600;
                }
            }

            &--secondary {
                color: globals.$text-light-color;
            }
        }
    }
}
