@use '~@/themes/default/style/globals';

.GlobalSettingsSidebar {
    $block: &;

    display: flex;
    flex-direction: column;
    gap: globals.$spacing-thin;

    &__current {
        @extend %reset-button;

        display: flex;
        align-items: center;
        height: 48px;
        padding: 0 16px;
        border: none;
        border-radius: globals.$border-radius-large;
        background-color: globals.$bg-color-emphasis;
        gap: globals.$spacing-medium;

        &__icon {
            width: 17px;
            text-align: center;
        }

        &__title {
            flex: 1;
            overflow: hidden;
            text-align: left;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        &__chevron {
            color: globals.$text-soft-color;
        }
    }

    &__list {
        @extend %reset-list;

        display: none;
        flex-direction: column;
        padding: globals.$spacing-small;
        border-radius: globals.$border-radius-large;
        background-color: globals.$bg-color-emphasis;
        font-size: 1rem;
        gap: globals.$spacing-thin;
    }

    &__item {
        $sub-block: &;

        &__link {
            @extend %reset-link;

            display: flex;
            align-items: center;
            height: 40px;
            border-radius: globals.$border-radius-large * 0.8;
            color: inherit !important;
            line-height: 40px;
            gap: globals.$spacing-medium;
            padding-inline: 16px;
            transition: background 300ms, color 300ms;
            cursor: pointer;
        }

        &__icon {
            width: 17px;
            line-height: inherit;
            text-align: center;
        }

        &__title {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        //
        // - States
        //

        &--active {
            color: #fff;

            #{$sub-block}__link {
                background-color: globals.$primary-color;
            }
        }

        &:hover {
            color: #fff;
        }
    }

    //
    // - Menu déroulant ouvert.
    //

    &--open {
        #{$block}__list {
            display: flex;
        }
    }

    //
    // - Responsive
    //

    @media (min-width: globals.$screen-tablet) {
        &__list {
            font-size: 1.1rem;
        }
    }

    @media (min-width: globals.$screen-desktop) {
        height: 100%;

        &__current {
            display: none;
        }

        &__list {
            display: flex;
            overflow: auto;
            height: 100%;
        }
    }
}
