@use '~@/themes/default/style/globals';

.EventDetailsInvoice {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr auto;
    grid-template-areas:
        'icon heading actions'
        'icon status actions';
    gap: globals.$spacing-thin globals.$spacing-medium;

    &__icon {
        font-size: 1.5rem;
        grid-area: icon;
    }

    &__heading {
        display: flex;
        flex-direction: column;
        font-size: 1rem;
        line-height: 1.3;
        gap: 1px;
        grid-area: heading;

        &__name {
            display: block;
        }

        &__total {
            display: block;
            font-weight: 600;
        }
    }

    &__date {
        display: none;
        font-size: 0.9rem;
        text-align: center;

        &__empty {
            color: globals.$text-light-color;
            font-style: italic;
        }
    }

    &__status {
        text-align: left;
        grid-area: status;
    }

    &__actions {
        display: flex;
        align-items: center;
        gap: globals.$spacing-small;
        grid-area: actions;
    }

    //
    // - Responsive
    //

    @media (min-width: globals.$screen-tablet) {
        display: flex;
        gap: globals.$spacing-medium;

        &__icon {
            flex: 0 0 auto;
        }

        &__heading {
            flex: 1;
        }

        &__date {
            flex: 0 0 80px;
            display: block;
        }

        &__status {
            flex: 0 0 160px;
            text-align: center;
        }

        &__actions {
            flex: 0 0 auto;
        }
    }
}
