@use '~@/themes/default/style/globals';
@use '../variables' as *;
@use 'sass:color';

.DefaultLayoutSidebarUserMenu {
    &__nav {
        @extend %reset-list;

        &__item {
            $block: &;

            flex: 0 0 auto;
            width: 100%;
            font-size: 1rem;

            &__link {
                display: inline-flex;
                align-items: center;
                width: 100%;
                padding: 10px 10px 10px globals.$spacing-medium;
                border: none;
                border-left: 4px solid transparent;
                background: none;
                color: inherit !important;
                font-size: 1.05rem;
                line-height: 1;
                text-decoration: none;
                gap: globals.$spacing-medium;
                transition: all 300ms;
                user-select: none;
                cursor: pointer;

                &:hover,
                &:focus {
                    outline: 0;
                }

                &:hover {
                    background-color: $item-background-hover;
                    color: $item-color-hover !important;
                }
            }

            &__icon {
                flex: 0 0 20px;
                display: block;
                font-size: 1.1rem;
                text-align: center;
            }

            &__text {
                flex: 1;
                display: block;
                text-align: left;
            }

            //
            // - État: Actif.
            //

            &--active {
                #{$block}__link {
                    border-color: globals.$primary-color;
                    background-color: $item-background-active;
                    color: $item-color-active !important;

                    &:hover {
                        background-color: $item-background-active;
                    }
                }
            }

            //
            // - Responsive
            //

            @media (min-width: globals.$screen-mobile) and (max-width: globals.$screen-desktop) {
                &__link {
                    justify-content: center;
                    padding: globals.$spacing-medium globals.$spacing-small;
                }

                &__icon {
                    font-size: 1.3rem;
                }

                &__text {
                    display: none;
                }
            }
        }
    }

    &__divider {
        margin: globals.$spacing-medium globals.$spacing-medium globals.$spacing-small;
        border: none;
        border-top: 1px solid globals.$divider-color;

        @media (min-width: globals.$screen-mobile) and (max-width: globals.$screen-desktop) {
            margin: globals.$spacing-medium globals.$spacing-small globals.$spacing-small;
        }
    }
}
