@use '~@/themes/default/style/globals';
@use '../../../variables' as *;
@use 'sass:color';

.DefaultLayoutSidebarUserDropdown {
    @extend %reset-list;

    display: flex;
    flex-direction: column;
    min-width: 200px;
    padding: globals.$spacing-small 0;
    border: globals.$dropdown-border;
    border-radius: globals.$border-radius-large;
    background: globals.$dropdown-background-color;
    color: globals.$text-soft-color;
    box-shadow: globals.$dropdown-box-shadow;
    white-space: nowrap;

    &__item {
        flex: 0 0 auto;
        width: 100%;
        font-size: 1rem;

        &__link {
            display: inline-flex;
            align-items: center;
            width: 100%;
            border: none;
            border-left: 4px solid transparent;
            background: none;
            color: inherit !important;
            font-size: 1.05rem;
            line-height: 1;
            text-decoration: none;
            gap: globals.$spacing-medium;
            transition: all 300ms;
            white-space: nowrap;
            user-select: none;
            cursor: pointer;

            // stylelint-disable-next-line order/properties-order
            padding:
                globals.$spacing-medium
                globals.$spacing-small
                globals.$spacing-medium
                globals.$spacing-medium;

            &:hover,
            &:focus {
                outline: 0;
            }

            &:hover {
                background-color: color.adjust($item-background-hover, $lightness: 1%);
                color: $item-color-hover !important;
            }
        }

        &__icon {
            position: relative;
            flex: 0 0 20px;
            display: block;
            font-size: 1.1rem;
            text-align: center;
        }

        &__text {
            flex: 1;
            display: block;
            font-weight: 400;
            text-align: left;
        }
    }
}
