@use '~@/themes/default/style/globals';

.MaterialsSelectorListAvailability {
    min-width: 0;

    &__stock {
        display: block;
    }

    &__surplus {
        display: block;
        color: globals.$text-warning-color;
        font-style: italic;
    }

    &--warning {
        color: globals.$text-warning-color;
    }

    &--danger {
        color: globals.$text-danger-color;
    }

    //
    // - Responsive
    //

    @container (min-width: 850px) {
        min-width: 205px;
    }
}
