@use '~@/themes/default/style/globals';

.EventEditStepBilling {
    $block: &;

    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 100%;
    gap: globals.$spacing-medium;

    &__wrapper {
        flex: 1;
        overflow: auto;
        height: 100%;
    }

    &__warning {
        & + & {
            margin-top: globals.$spacing-medium;
        }
    }

    &__editor {
        flex: 1;

        #{$block}__warning + & {
            margin-top: globals.$spacing-large;
        }
    }

    &__actions {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: globals.$spacing-small 0;
        gap: globals.$spacing-small;
    }
}
