@use '~@/themes/default/style/globals';
@use './variables' as *;

.Tabs {
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 100%;
    gap: $panel-margin-top;

    &__header {
        flex: 0 0 auto;
        display: flex;
        overflow: auto hidden;
        margin: 0;
        padding: 0;
        border-bottom: 1px solid $header-border-color;
    }

    &__actions {
        flex: 1;
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        gap: globals.$spacing-small;
    }

    &__panel {
        flex: 1;
        overflow: auto;
        height: 100%;
    }
}
