@use '~@/themes/default/style/globals';
@use 'sass:math';

.Page {
    $block: &;

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    overflow: auto;
    height: 100%;

    &__header {
        position: sticky;
        z-index: 2;
        top: 0;
        flex: 0 0 auto;
        padding-bottom: globals.$spacing-medium;
        background-color: globals.$bg-color-body;

        &__sub {
            display: flex;
            flex-wrap: wrap-reverse;
            align-items: center;
            justify-content: flex-start;
            padding: 0 globals.$spacing-medium;
            padding-top: globals.$spacing-small;
            gap: globals.$spacing-small globals.$spacing-large;

            &__content {
                flex: 1;
                display: flex;
                flex-direction: column;
                justify-content: center;
                max-width: 100%;
                gap: globals.$spacing-small;
            }

            &__help {
                @extend %reset-p;

                @include globals.line-clamp(3);

                display: inline-flex;
                align-items: center;
                min-width: 250px;
                color: globals.$help-text-color;
                white-space: pre-line;

                @include globals.icon('info-circle') {
                    margin-right: globals.$spacing-small;
                    font-size: 1.2rem;
                }
            }
        }
    }

    &__body {
        position: relative;
        z-index: 1;
        flex: 1;
        overflow: auto;
        width: 100%;
        padding: 0 globals.$spacing-medium;
        padding-bottom: globals.$spacing-medium;
    }

    //
    // - Modifiers
    //

    &--centered {
        #{$block}__body {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }

    //
    // - Responsive
    //

    @media (min-width: globals.$screen-tablet) {
        &__header__sub {
            padding-top: globals.$spacing-medium;
        }

        &__body {
            padding-bottom: globals.$spacing-medium;
        }
    }
}
